body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
/* styles for validation helpers */
.field-validation-error {
  color: #b94a48;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #b94a48;
}
.validation-summary-valid {
  display: none;
}
.profile-photo {
  position: relative;
  width: 10em;
  height: 10em;
  float: left;
  padding: 1em;
}
.profile-photo > img {
  position: relative;
  width: 100%;
  height: 100%;
}
.social-icons {
  max-width: 980px;
  margin: auto;
  width: 100%;
  list-style-type: none;
}
.icon {
  float: left;
  position: relative;
  width: 19%;
  height: 0;
  margin: 0.5em 2em;
  padding-bottom: 19%;
}
@media all and (min-width: 640px) {
  .icon {
    width: 9%;
    padding-bottom: 9%;
  }
}
.icon:last-of-type {
  margin-right: 0;
}
.icon a {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.2s ease-out;
}
.icon a:hover {
  background-color: #222;
  background-size: 0%;
  transition: all 0.2s ease-out;
}
.icon__name {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -7px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  transition: all 0.3s ease-out;
  opacity: 0;
  filter: blur(25px);
  transform: translateZ(0);
  will-change: transform;
}
.icon:hover .icon__name {
  transition: all 0.3s ease-out;
  opacity: 1;
  filter: blur(0);
}
.icon--facebook a {
  background-color: #3b5998;
  background-image: url('social/facebook-128.png');
}
.icon--twitter a {
  background-color: #00aced;
  background-image: url('social/twitter-128.png');
}
.icon--linkedin a {
  background-color: #007fb1;
  background-image: url('social/linkedin-128.png');
}
.icon--github a {
  background-color: #4183c4;
  background-image: url('social/github-128.png');
}
.icon--vk a {
  background-color: #507296;
  background-image: url('social/vk.png');
}
.icon--gmail a {
  background-color: #7fc6db;
  background-image: url('social/gmail.png');
}