<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Serhii's profile</a>
            </div>
            <div class="navbar-collapse collapse">
                <!--ul> class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul-->
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <ul class="social-icons">
                <li class="icon icon--gmail">
                    <a target="_blank" href="mailto:szavodko@gmail.com">
                        <span class="icon__name">Gmail</span>
                    </a>
                </li>
                <li class="icon icon--linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/szavodko">
                        <span class="icon__name">LinkedIn</span>
                    </a>
                </li>
                <li class="icon icon--vk">
                    <a target="_blank" href="https://vk.com/szavodko">
                        <span class="icon__name">VK.com</span>
                    </a>
                </li>
                <li class="icon icon--twitter">
                    <a target="_blank" href="https://twitter.com/szavodko">
                        <span class="icon__name">Twitter</span>
                    </a>
                </li>
                <li class="icon icon--facebook">
                    <a target="_blank" href="https://facebook.com/szavodko">
                        <span class="icon__name">Facebook</span>
                    </a>
                </li>
                <li class="icon icon--github">
                    <a target="_blank" href="https://github.com/SrgZdk">
                        <span class="icon__name">GitHub</span>
                    </a>
                </li>                                
            </ul>            
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
